<div class="mainContainer">
  <div class="content">
    <form [formGroup]="loginUserForm">
      <mat-card class="formContainer">
        <mat-card-title class="formTitle">Log In</mat-card-title>
        <mat-card-content
          ><mat-form-field class="form" appearance="outline">
            <mat-label>Email:</mat-label>
            <input
              matInput
              placeholder="Ex. test@gmail.com"
              formControlName="email"
            />
          </mat-form-field>
          <mat-form-field class="form" appearance="outline">
            <mat-label>Password:</mat-label>
            <input
              matInput
              placeholder="Ex. test@123"
              formControlName="password"
            />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            type="submit"
            id="button"
            (click)="loginUser()"
          >
            Confirm
          </button>
        </mat-card-actions>
        <mat-card-footer
          ><nav>
            <a class="signupLink" routerLink="/register"
              >Don't have an account?</a
            >
          </nav></mat-card-footer
        ></mat-card
      >
    </form>
  </div>
</div>
